<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<app-bread-crumb [itens]="[{text: 'Categorias'}]" ></app-bread-crumb>

<app-page-header 
    [pageTitle]="'Categorias'"
    [buttonLink]="'new'"
    [buttonText]="'+ Nova Categoria'"
    [buttonClass]="'btn-success'"
>
</app-page-header>

<table class="table hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of resources">
            <td>
                <strong>{{category.name}}</strong><br><small>{{category.description}}</small>
            </td>            
            <td >
                <app-actions-links-table 
                    [resourceComp]="category"
                    (deleteResourceFn)="deleteResource($event)"
                ></app-actions-links-table>
            </td>
        </tr>
    </tbody>
</table>