<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<app-bread-crumb [itens]="[{text: 'Lançamentos'}]" ></app-bread-crumb>

<app-page-header 
    [pageTitle]="'Lançamentos'"
    [buttonLink]="'new'"
    [buttonText]="'+ Novo Lançamento'"
    [buttonClass]="'btn-success'"
>
</app-page-header>

<app-select-month-year [buttonLabel]="buttonLabel" (returnButtonClick)="getListAll($event)" >
</app-select-month-year>

<p-table #dt [value]="resources" sortMode="multiple" class="table hover" 
 [filterDelay]="0" [globalFilterFields]="['name','category.name']">
    <ng-template pTemplate="header" >
        <tr class="bg-primary text-light">
            <th class="text-center" pSortableColumn="name" >Lançamento<p-sortIcon field="name"></p-sortIcon></th>
            <th class="text-center" >Categoria </th>
            <th class="text-center">Valor R$</th>
            <th class="text-center">Ações</th>
        </tr>
        <tr>
            <th >
                <input style="max-width: -webkit-fill-available;" pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')" placeholder="Nome" class="form-control p-column-filter">
            </th>
            <th >
                <select style="max-width: -webkit-fill-available;" name="contegory" id="category" class="form-control" (change)="selectCategory($event.target)">
                    <option value="">Selecione uma Categoria</option>
                    <option *ngFor="let option of categories" [value]="option.id">{{option.name}}</option>
                </select>
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>  
    <ng-template pTemplate="body" let-entry>
        <tr>
            <td>
                <strong>{{entry.name}}</strong><br>
                <small class="text-success">{{entry.date}}</small><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>            
            <td>
                {{entry.category.name}}
            </td>
            <td class="text-right">
                <strong [class.text-success]="entry.type === '2'" [class.text-danger]="entry.type === '1'">
                    {{entry.amount}}
                </strong>
                <br>
                <span class="badge badge-light">{{entry.paidText}}</span>
            </td>
            <td class="text-center">
                <app-actions-links-table 
                    [resourceComp]="entry"
                    (deleteResourceFn)="deleteResource($event)"
                    [allowPaid]="true"
                    (paidReturn)="paid($event)"
                ></app-actions-links-table>
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- <table class="table hover">
    <thead>
        <tr class="bg-primary text-light">
            <th>Lançamento</th>
            <th>Categoria</th>
            <th class="text-right">Valor R$</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of resources">
            <td>
                <strong>{{entry.name}}</strong><br>
                <small class="text-success">{{entry.date}}</small><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>            
            <td>
                {{entry.category.name}}
            </td>
            <td class="text-right">
                <strong [class.text-success]="entry.type === '2'" [class.text-danger]="entry.type === '1'">
                    {{entry.amount}}
                </strong>
                <br>
                <span class="badge badge-light">{{entry.paidText}}</span>
            </td>
            <td class="text-center">
                <app-actions-links-table 
                    [resourceComp]="entry"
                    (deleteResourceFn)="deleteResource($event)"
                    [allowPaid]="true"
                    (paidReturn)="paid($event)"
                ></app-actions-links-table>
            </td>
        </tr>
    </tbody>
</table> -->